{% extends 'blog/base.html' %}

{% block contenido %}

<div>
   <pre>
    Mi nombre es Ignacio Piai, soy alumno de coderhouse del curso de python.
    En este proyecto se ha creado una apliación web, utilizando el framework de Django, con el propósito de crear un funcionamiento de un blog.
    Para el cual, se brinda la opción de registro y login de un usuario, proporcionándole al mismo, la opción 
    de poder crear, modificar, ver o borrar un post. 
    Siempre teniendo en cuenta que solo el usuario administrador es el autorizado para tener control absoluto 
    de dichas funciones, por lo que un usuario luego de registrarse y luego realizar un login, solo podrá acceder
    a algunas de estas acciones.
    Otras de las acciones a las que se puede acceder es el alta y modificación de un Ávatar, imagen que podremos
    ver luego de hacer un login, así como tambén se podrán modificar sus datos de usuario.
    Tambíen se brinda la opción de mensajería a través de un formulario de contacto.
   </pre>
</div>

{% endblock %}