{% extends 'blog/base.html' %}

{% block contenido %}
{% if user.is_authenticated %}
    <a href="{% url 'blog-crear' %}">Crear Post</a>
    <a href="{% url 'blog-avatars-actualizar' user.id %}">Actualizar Avatar</a>
    <a href="{% url 'blog-users-actualizar' user.id %}">Actualizar Perfil</a>
    <a href="{% url 'blog-mensajes-listar' %}">Mensajes</a>
    
{% endif %}
<ul>
{% for post in object_list %}
    <li>
        {{post.publicado_el}} - - {{post.titulo}} 
        {% if user.is_authenticated %}
        <a href="{% url 'blog-borrar' post.id %}">Borrar</a>
        <a href="{% url 'blog-actualizar' post.id %}">Actualizar</a>
        {% endif %}
        <a href="{% url 'blog-detalle' post.id %}">Ver</a>
    </li>
{% endfor %}
</ul>
{% endblock %}